package components

type List struct {
	Title       string
	Description string
	Url         string
}

templ Lists(lists []List) {
	<h1>Lists</h1>
	if len(lists) != 0 {
		<ul class="list-disc">
			for _, list := range lists {
				<li>
					<a class="text-blue-500" href={ templ.URL(list.Url) }>{ list.Title }</a>
					<p>{ list.Description }</p>
				</li>
			}
		</ul>
	}
}
