package components

import (
	"github.com/bradydean/go-website/internal/pkg/profile"
)

templ Profile(profile profile.Profile, csrfToken string) {
	@Navbar(&profile)
	<main>
		<div class="flex justify-center">
			<form
				hx-post="/profile/reset-password"
				hx-swap="none"
			>
				<input type="hidden" name="_csrf" value={ csrfToken }/>
				<input class="btn btn-sm btn-error" type="submit" value="Reset Password"/>
			</form>
		</div>
	</main>
}
