package components

import (
	"github.com/bradydean/go-website/internal/pkg/profile"
)

templ Profile(profile profile.Profile) {
	@Navbar(&profile)
	<main>
		<div class="flex justify-center">
			<button
				class="btn btn-sm btn-error"
				hx-post="/profile/reset-password"
				hx-swap="none"
			>
				Reset Password
			</button>
		</div>
	</main>
}
