package components

import (
	"github.com/bradydean/go-website/internal/pkg/profile"
)

templ Profile(profile profile.Profile) {
	@Navbar(&profile)
	<main>
		<div>
			<h1>Hello, { profile.Name }!</h1>
			<p>Your email is { profile.Email }</p>
			<p>User ID { profile.UserID }</p>
		</div>
	</main>
}
